<!DOCTYPE html>
<html ng-app="controlApp">
<head>
	<title>Principal</title>
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="css/style.css"> 
    
</head>
<body ng-controller="micontroller">

 <header>
 <br>
  <h1 id="h1Header"> MEAN Stack Test.</h1> 
  </header>


  <p class="ubicacion"> {{user.fname}}&nbsp; {{user.lname}}&nbsp; ({{user.login}})&nbsp;&nbsp;<a ng-href="{{logout}}" ng-click="logout()" class="hrefLogout">logout</a></p>


  <div>

    <table>
      <tbody>

         <tr ng-repeat="cursos in courses">
            <td>   
              <div ng-click="accion(cursos._id)" style="display: {{hide}}"><strong>{{cursos.code}}</strong>{{cursos.name}}</div>
              <div id="{{cursos._id}}">{{cursos.description}}</div>
            </td>
          </tr>

      </tbody>
    </table>
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="controllers/controller.js"></script> 

</body>
</html>