<!DOCTYPE html>
<html ng-app="controlApp">
<head>
	<title>Principal</title>
	   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" type="text/css" href="css/style.css"> 
    
</head>
<body ng-controller="micontroller">

 <header>
 <br>
  <h1 id="h1Header"> MEAN Stack Test.</h1> 
  </header>


  <p class="ubicacion"> {{user.fname}}&nbsp; {{user.lname}}&nbsp; ({{user.login}})&nbsp;&nbsp;<a ng-href="{{logout}}" ng-click="logout()" class="tag1">logout</a></p>


 <div class="container"> 
 <table class="table">

<input type="checkbox" id="spoiler1"></input>
<label for="spoiler1"></label>
<div class="spoiler">CONTENIDO OCULTO</div>

<input type="checkbox" id="spoiler2"></input>
<label for="spoiler2" ></label>
<div class="spoiler">CONTENIDO OCULTO</div>

<input type="checkbox" id="spoiler3"></input>
<label for="spoiler3" ></label>
<div class="spoiler">CONTENIDO OCULTO</div>

<input type="checkbox" id="spoiler4"></input>
<label for="spoiler4" ></label>
<div class="spoiler">CONTENIDO OCULTO</div>

<input type="checkbox" id="spoiler5"></input>
<label for="spoiler5" ></label>
<div class="spoiler">CONTENIDO OCULTO</div>


</table>
</div>



    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
  <script src="controllers/controller.js"></script> 

</body>
</html>